<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Silas Groskreutz portfolio</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <!--<li><a href="./components.html" title="">05 : Components</a></li> -->
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Projects</h1>
          <p>Some of the projects that I have worked on. Primarily Javascript projects, but I am learning new skills each day.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="https://silasgroskreutz.now.sh/" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/react.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>REACT Portfolio Site</h3>
                        <p>A portfolio I coded in REACT</p>
                        <a href="https://silasgroskreutz.now.sh/" title="REACT portfolio" target="_blank" class="btn btn-default">Visit</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://polar-island-90326.herokuapp.com/" class="black-image-project-hover">
                        <img src="./static/assets/images/devcon.png" alt="dev connector project" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/006</h4>
                        <h3>Dev Connector</h3>
                        <p>Full Stack App with REACT/Redux/Express/MongoDB</p>
                        <a href="https://polar-island-90326.herokuapp.com/" target="_blank" title="" class="btn btn-default">Visit</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://silasgroskreutz.github.io/d3_tailwagger_tracker/" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/d3.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/006</h4>
                        <h3>Tail-Wagger Tracker(budget app)</h3>
                        <p>Simple budget app build using D3.js and Firebase.</p>
                        <a href="https://silasgroskreutz.github.io/d3_tailwagger_tracker/" title="budget app" target="_blank" class="btn btn-default">Visit</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="https://boring-saha-f9ef00.netlify.app/" class="black-image-project-hover">
                      <img src="./static/assets/images/nestalgia.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>NEStalgia Shop</h3>
                      <p>REACT shopping cart site for fictional video game shop</p>
                      <a href="https://boring-saha-f9ef00.netlify.app/" class="btn btn-default">Visit</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="https://silasgroskreutz.github.io/FDA_pet_med_adverse/" class="black-image-project-hover">
                        <img src="./static/assets/images/Pet_Med.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>Pet Med Adverse</h3>
                        <p>Project using JS and API calls to pull medicine information from FDA and Wikipedia</p>
                        <a href="https://silasgroskreutz.github.io/FDA_pet_med_adverse/" class="btn btn-default">Visit</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="https://silasgroskreutz.github.io/quizfinal/" class="black-image-project-hover">
                        <img src="./static/assets/images/NES_quiz.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>NES Quiz App</h3>
                        <p>A Quiz app built with only HTML, CSS and Javascript. My first project.</p>
                        <a href="https://silasgroskreutz.github.io/quizfinal/" class="btn btn-default">Visit</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Silas Groskreutz | Thanks for visiting</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>